{% extends 'games/general_game.html' %}
{% load static %}

{% block game %}
<link rel="stylesheet" type="text/css" href="{% static 'games/whist.css' %}"/>
<script defer type="text/javascript" src="{% static 'games/whist.js' %}"></script>


<div id="game" class="game">
    <div class="ai-and-choices">
        <div id="trump-card-all">
            <div id="trump-card-info">
                Trump card
            </div>
            <div id="trump-card">
    
            </div>
        </div>

        <div id="previous-trick-all">
            <div id="previous-trick-info">
                Previous Trick
            </div>
            <div id="trick-cards">
                {% for i in "0123" %}
                    <div class="trick-card" id="trick-card-{{i}}">
        
                    </div>
                {% endfor %}
            </div>
            
        </div>
        {% for i in "0123" %}
            <div class="card-turn" id="card-turn-{{i}}">

            </div>
        {% endfor %}

        {% for i in "0123" %}
            <div class="player-info" id="player-info-{{i}}">
                <p class="name-player" id="name-player-{{i}}"></p>
                <div class="dealer-turn">
                    <div class="not-dealer-player" id="dealer-player-{{i}}"></div>
                    <div class="not-turn-player" id="turn-player-{{i}}"></div>
                </div>
                <p class="score-player-now">
                    Game: <span id="score-player-now-{{i}}">0</span>
                </p>
                <p class="score-player-overall">
                    Overall: <span id="score-player-overall-{{i}}">0</span>
                </p>
                <p class="choice-player-info">
                    <span id="choice-player-info-{{i}}"></span>
                </p>
            </div>
        {% endfor %}


        <div class="choice-menu" id="choice-menu-1" style="display: none">
            <p class="option" value="0">Pass</p>
            <p class="option" value="1">Ask</p>
            <p class="option" value="2">Follow</p>
            <div class="dropdown">
                <p class="option-dropdown dropdown-toggle" type="button" id="dropdownAbondance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Abondance
                </p>
                <div class="dropdown-menu" aria-labelledby="dropdownAbondance">
                  <p class="option" value="3">Spades</p>
                  <p class="option" value="4">Diamonds</p>
                  <p class="option" value="5">Clubs</p>
                  <p class="option" value="6">Hearts</p>
                </div>
              </div>
              <p class="option" value="7">Misery</p>
              <div class="dropdown">
                <p class="option-dropdown dropdown-toggle" type="button" id="dropdownGrandSlam" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Grand Slam
                </p>
                <div class="dropdown-menu" aria-labelledby="dropdownGrandSlam">
                  <p class="option" value="8">Spades</p>
                  <p class="option" value="9">Diamonds</p>
                  <p class="option" value="10">Clubs</p>
                  <p class="option" value="11">Hearts</p>
                </div>
              </div>

        </div>

        <div class="choice-menu" id="choice-menu-2" style="display: none">
            <p class="option-2" value="0">Pass</p>
            <p class="option-2" value="1">Go alone</p>
            
        </div>

    </div>

    <div class="hand-player" id="hand-player">
    </div>
</div>
{% endblock game %}