{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<h1>About</h1>
<p>
I had to have a page to tell something about myself, my site wouldn't be complete without it. So heree it goes... 
My name is Jasper Dekoninck and I'm currently a student at the University of Leuven where I study Mathematics and 
Physics. However, I've always had a great interest in programming. At 14, I started out in Javascript with the basic
for loops, while loops, if statements etc. The level at which I coded was really basic, never going any further than the 
aformentioned loops.  I didn't know anything about HTML or npm. After six months or so,
 I quit using Javascript and switched to Python, a programming language I immediately liked a lot more than Javascript. 
 I found it much easier to use and I got to know Python packages, through which I could easily create more advanced 
 programs than I had ever done with Javascript (again: at that time I didn't know that Javascript had something very much like it). 
</p>
<p>
 That's when my adventure in programming really began. Because high school was boring (obviously) and too easy, I could spend
 a lot of time coding all kinds of things: games, algorithms, simulations, ... You name it. I felt my programming skills increasing
 as months went by. Programming became my passion and I loved every part of it. The creation of seemingly complex things with 
 just a few lines of code... It felt amazing. The hours spent debugging only increased the joy when I finally got that program
 working. And then, at the age of 17, I came into contact with machine learning and AI for the first time.
</p>
<p>
 Using Python libraries like sklearn, pandas, matplotlib, numpy, tensorflow, keras, ... I quickly learned what it meant to be a
 data scientist. These packages made it easier to solve even more complex problems: allowing the computer to find the patterns
 itself without me ever instructing it. It felt (and still feels) amazing. I followed tutorial after tutorial, read book after book
 to get myself acquanted with the topic. I learned how to tackle machine learning problems and how to visualize their results. 
 All of this, happened in just two months (a long vacation...). After that, I sometimes go back and try to tackle a new machine 
 learning problem, but I do it much less active than two years ago. As a result, I know little of the new developments in machine 
 learning. 
</p>
<p>
 When it was time to choose what I wanted to study at university, I chose without any doubt in my mind for Mathematics and Physics.
 After my previous explanation, you might wonder why I didn't choose Computer Science or something like it. Well, I skipped quite
 a lot by not mentioning anything for my love of mathematics. About 50% of the things I programmed, were math related.  Even though 
 I loved programming, I loved mathematics even more. On top of that, you can't study "Programming" at university and I care little
 about the underlying problems. I love programming because I can program what I choose, not because someone else keeps telling 
 me what to do. 
</p>
<p>
A last thing worth mentioning, is why I decided to create this site. Well, in August 2020 I became a student worker at a small 
company named <a href="https://www.riskconcile.com/">Risk Concile</a>. I did an internship there a year before after my professor
(who works there) said they offered internships for students. Officialy hired as "Python developer", I ended up doing more Javascript
than anything else. However, now I also knew about the options Javascript offered through npm, HTML and CSS. I was amazed by how
quickly I could create decend looking UI's with little effort. After that month, I learned Javascript, HTML and CSS well enough
in order for me to start thinking about my own site. It was something I had already thought of before, but because of my inexperience
with HTML, it never worked out. But now, it was a possibility so I started coding. And voila, here is the result...
</p>

Jasper Dekoninck
{% endblock content %}